button {
  color: white;
  border-radius: 5px;
  white-space: nowrap;
  height: 30px;
  border: none;
}

#delete_button {
  background-color: red;
}

.user_detail_page #add_button,
.post_detail_page #edit_button,
.user_detail_page #edit_button,
#list_of_posts #add_button,
.tags_listing #add_button,
.tag_detail #edit_button,
#tag_button {
  background-color: rgb(0, 98, 255);
}

#title_and_content #cancel_button {
  background-color: rgb(6, 174, 174);
}

#title_and_content #add_button,
.post_edit_page #edit_button {
  background-color: green;
}

.post_detail_page #cancel_button,
.post_edit_page #cancel_button,
.edit_user_page #cancel_button {
  background-color: white;
  color: rgb(0, 98, 255);
  border: solid rgb(0, 98, 255);
}

#save_button {
  background-color: green;
}

body {
  width: 500px;
  /* display: flex;
  justify-content: center; */
}

html {
  display: flex;
  justify-content: center;
}

img {
  width: 200px;
  height: 200px;
  position: relative;
  object-fit: cover;
}

.user_detail_page {
  display: flex;
}

.user_detail_page h1 {
  margin-left: 20px;
  margin-top: 0;
}

.user_detail_page #edit_button {
  margin-left: -190px;
  margin-top: 40px;
  scale: 70%;
}

.user_detail_page #delete_button {
  margin-left: -160px;
  margin-top: 40px;
  scale: 70%;
}

#list_of_posts {
  margin-left: 220px;
  margin-top: -130px;
}

.edit_user_page {
  position: relative;
}

.edit_user_page .form-row #first_name,
.edit_user_page .form-row #last_name,
.edit_user_page .form-row #image_url {
  position: absolute;
  right: 0;
  width: 400px;
}

.edit_user_page #save_button {
  position: absolute;
  right: 0;
}

.edit_user_page a {
  position: absolute;
  right: 80px;
}

.users_listing_page a button,
.new_user_page #add_button {
  background-color: grey;
}

#title_and_content {
  position: relative;
}

#title_and_content #title,
#title_and_content #content {
  position: absolute;
  right: 0;
  width: 400px;
}

#title_and_content #new_post_buttons {
  position: absolute;
  right: 0;
}

#post_detail_buttons form {
  display: flex;
  margin-left: 100px;
  margin-top: -30px;
}

.post_edit_page {
  position: relative;
}

.post_edit_page #title,
.post_edit_page #content {
  position: absolute;
  right: 0;
  width: 400px;
}

.post_edit_page #save_button {
  position: absolute;
  right: 0;
}

.post_edit_page a {
  position: absolute;
  right: 50px;
}

#list_of_tags {
  position: relative;
}

#tag_list {
  list-style: none;
  position: absolute;
  top: -15px;
  left: 5px;
}

#tag_list li {
  display: inline-block;
}

#tag_list li a button {
  font-style: italic;
  font-weight: bold;
  height: 20px;
}
