<!-- new_user.html -->

{% extends 'base.html' %}
{% block title %}New User{% endblock %}
{% block content %}
<div class="new_user_page">
    <form  action='/users/new' method="POST">
        <h1>Create a user</h1>
        <label for="first_name">First Name</label></br>
        <input type="text" name="first_name" id="first_name" placeholder="Enter a first name"></br></br>

        <label for="last_name">Last Name</label></br>
        <input type="text" name="last_name" id="last_name" placeholder="Enter a last name"></br></br>

        <label for="image_url">Image URL</label></br>
        <input type="text" name="image_url" id="image_url" placeholder="Provide an image of this user"></br></br>
        
        <div class="container">
            <button id="add_button">Add</button>
        </div>
    </form>
</div>


{% endblock %}

