<!-- new_user.html -->

{% extends 'base.html' %}
{% block title %}Edit {{user.first_name}} {{user.last_name}}{% endblock %}
{% block content %}
<div class="edit_user_page">
    <form  action='/users/{{user.id}}/edit' method="POST">
        <h1>Edit {{user.first_name}} {{user.last_name}}</h1>
        <div class="form-row">
            <label for="first_name">First Name</label>
            <input type="text" name="first_name" id="first_name" value={{user.first_name}}></br></br>
        </div>

        <div class="form-row">
            <label for="last_name">Last Name</label>
            <input type="text" name="last_name" id="last_name" value={{user.last_name}}></br></br>
        </div>

        <div class="form-row">
            <label for="image_url">Image URL</label>
            <input type="text" name="image_url" id="image_url" value={{user.image_url}}></br></br>
        </div>

        <button id="save_button">Save</button>
    </form>
    <a href='/users'>
        <button id="cancel_button">Cancel</button>
    </a>
</div>



{% endblock %}

